/* /* The name of the window itself */ 
/* #window { */
/*   /* The name of the box that contains everything */ 
/* } */
/* #window #outer-box { */
/*   /* The name of the search bar */ 
/*   /* The name of the scrolled window containing all of the entries */ 
/* } */
/* #window #outer-box #scroll { */
/*   /* The name of the box containing all of the entries */ 
/*   /* The name of all the text in entries */ 
/*   /* The name of all entries */ 
/*   /* The name of all boxes shown when expanding  */ 
/*   /* entries with multiple actions */ 
/* } */
/* #window #outer-box #scroll #entry { */
/*   /* The name of all entries currently selected. */ 
/*   /* The name of all entries currently unselected. */ 
/* } */

@import url('/home/isac/.cache/wal/colors-waybar.css');

@define-color mauve  @color6;
@define-color red  @color6;
@define-color lavender  @color7;
@define-color text  @color7;
@keyframes fadeIn {
    0% {
    }
    100% {
    }
}

* {
    all:unset;
    font-family: 'CodeNewRoman Nerd Font Mono', monospace;
    font-size: 18px;
    outline: none;
    border: none;
    text-shadow:@foreground;
    background-color:transparent;
}

window {
    all:unset;
    padding: 20px;
    border-radius: 10px;
    background-color: alpha(@background,.5);
}
#inner-box {
    margin: 2px;
    padding: 5px
    border: none;
}
#outer-box {    
    border: none;
}
#scroll {
    margin: 0px;
    padding: 30px;
    border: none;
}
#input {
    all:unset;
    margin-left:20px;
    margin-right:20px;
    margin-top:20px;
    padding: 20px;
    border: none;
    outline: none;
    color: @text;
    box-shadow: 1px 1px 5px rgba(0,0,0, .5);
    border-radius:10;
    background-color: alpha(@background,.2);
}
#input image {
    border: none;
    color: @red;
    padding-right:10px;
}
#input * {
    border: none;
    outline: none;
}

#input:focus {
    outline: none;
    border: none;

    border-radius:10;
}
#text {
    margin: 5px;
    border: none;
    color: @text;
    outline: none;
}
#text {
    margin: 5px;
    border: none;
    color: @text;
    outline: none;
}
#entry {
    border: none;
    margin: 5px;
    padding: 10px;
}
#entry arrow {
    border: none;
    color: @lavender;

}
#entry:selected {
    box-shadow: 1px 1px 5px rgba(255,255,255, .03);
    border: none;
    border-radius: 20px;
    background-color:transparent;
}
#entry:selected #text {
    color: @mauve;
}
#entry:drop(active) {
    background-color: @lavender !important;
}
